*{
    margin: 0;
    padding: 0;

}

body{
    background: rgb(230, 192, 67);
}


.container {
    width: 1300px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
}


header{
    width: 100%;
    height: 55px;
    background: #000;
    position: sticky;
    box-shadow: 1px 4px 8px rgb(0, 0, 0);
    display: inline-block;
    
}


.links{
    width: 550px;
    height: 55px;
    position: fixed;
    right: 15vh;
    top: 10px;
}

ul{
   list-style: none;
    
}

li{
    float: left;
    margin: 5px;
    padding: 5px;
    
}

a{
    color: white;
    text-decoration: none;
}

li:hover{
    float: left;
    margin: 5px;
    padding: 5px;
    background: rgb(32, 185, 134);
    
} 

.search{
    width: 200px;
    height: 55px;
    
}